@import "fonts"
@import "libs"
@import "vars"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666
body input:required:valid,
body textarea:required:valid
  color: #666

html, body
  height: 100%
  font: normal 15px Arial, Helvetica, sans-serif
body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.75
  font-family: $default-font
  overflow-x: hidden
  opacity: 1

.img-responsive
  display: block
  max-width: 100%
  height: auto
.h1
  font-weight: 400!important
  text-transform: uppercase
  padding: 0
  font-size: 36px
  font: normal 36px 'Roboto',Helvetica,Arial,sans-serif
  margin: 0 0 22px 0
  line-height: 1.25
  color: #222222
  letter-spacing: -0.06ex
.h2
  line-height: 1.25
  color: #222222
  font-weight: 300
  letter-spacing: -0.06ex
  text-transform: uppercase
  padding: 0
  font-size: 36px
  font: normal 36px 'Roboto',Helvetica,Arial,sans-serif
  margin: 0 0 22px 0
.h3
  padding: 0
  margin: 0
  font-size: 30px
  letter-spacing: -0.027ex
  margin-bottom: 22px
  font-weight: normal;
  font: normal 30px 'Roboto',Helvetica,Arial,sans-serif
.h4
  font-size: 20px
  line-height: normal
  margin-top: 10px;
  margin-bottom: 10px;
a
  &:link, &:visited
    text-decoration: underline
    color: #4d4c4c
  &:hover
    text-decoration: none
    color: #4d4c4c

.clear
  clear: both

.left
  float: left

.right
  float: right


.b-button-rz
  background: #E769A8
  box-shadow: 0 3px 0 #FF3399

.b-button
  font-family: 'Roboto',Helvetica,Arial,sans-serif
  font-weight: 100
  width: 330px
  height: 64px
  text-align: center
  vertical-align: middle
  line-height: 64px
  font-size: 30px
  text-decoration: none
  color: #fff
  display: inline-block
  -moz-border-radius: 6px
  -webkit-border-radius: 6px
  border-radius: 6px
  -moz-transition: all 0.2s ease-out
  -o-transition: all 0.2s ease-out
  -webkit-transition: all 0.2s ease-out
  transition: all 0.2s ease-out
  font-weight: 100
  position: relative
a
  img
    border: none
  outline: none
  &.b-button
    color: #FFFFFF !important
    text-decoration: none !important
    padding-left: 30px !important
    padding-right: 30px !important
.b-button:hover
  background: #44d258
  color: #FFF
  text-decoration: none
.b-button-rz:hover
  background: #FF99CC
.b-button-green
  background: #39b54a
  box-shadow: 0 3px 0 #2b963a
  &:hover
    background: #44d258

.b-button-blue
  background: #2101FF
  box-shadow: 0 3px 0 #3300CC
  &:hover
    background: #6699FF
.g-phone
  font-size: 26px
  line-height: 28px
.roboto-thin
  font-family: 'roboto', sans-serif
  font-style: normal
  font-weight: 100

.roboto-bold, .bold-price
  font-family: 'roboto', sans-serif
  font-style: normal
  font-weight: 700

.roboto-light
  font-family: 'roboto', sans-serif
  font-style: normal
  font-weight: 300

.roboto-medium
  font-family: 'roboto', sans-serif
  font-style: normal
  font-weight: 500

.roboto-regular
  font-family: 'roboto', sans-serif
  font-style: normal
  font-weight: 400

.header
  background-color: $lightgreen
  color: $white
  height: 80px
  .logo
    float: left
    margin-top: 20px
    margin-right: 10px
  .logo-text
    font-size: 15px
    line-height: 16px
    margin-left: 95px
    padding-top: 17px
    text-transform: uppercase
    width: 240px
  .h-text-right
    float: right
  .p-button
    float: right
    margin-left: 20px
    margin-top: 19px
    text-align: right
  .form-btn.btn-red1
    font-size: 12px
    height: 25px
  .btn-red1
    background: #ec1f8f
    color: #FFFFFF
    border-radius: 4px
  .btn-red1:hover
    background: #CC0066
    color: #FFFFFF
  img
    height: 40px
.b-logo 
  width: 40%
.p-info
  padding-top: 18px
  float: left
.g-phone
  font-size: 26px
  line-height: 28px
  span.glyphicon
    font-size: 20px
.g-time
  font-size: .7em
.after-phone
  font-size: 13px
  margin-top: -5px
  letter-spacing: 3.6px

.p-info
  .g-time
    a
      i
        color: #ec1f8f
    .fancybox
      float: right
      color: #FFFFFF
      text-decoration: none
      font-weight: bolder
      font-size: .8em!important
      text-transform: uppercase
      font-weight: 100
.g-city
  span
    cursor: pointer
    border-bottom: 1px dashed #CCCCCC
    font-size: 18px
    font-family: 'roboto', sans-serif
    font-style: normal
    font-weight: 300
.uppercase
  text-transform: uppercase

/*mega-dropdown-menu */

.navigation .nav-list > li
  vertical-align: top
  opacity: 1
  width: 110px
  &:hover
    opacity: 0.6
  > a
    &:hover
      text-decoration: none
    >
      span
        font-size: 0.7em
        display: block
      img
        height: 32px

.mega-dropdown
  position: static !important

.mega-dropdown-menu
  padding: 20px 15px 15px
  text-align: center
  display: block
  background-color: #FF99CC
  margin-top: 12px
  width: 100%
  border-radius: 0

.mega-dropdown-menu-container
  border: 0
  margin: 0
  padding: 0
  width: 100%
  display: none

.mega-dropdown-tail
  position: relative
  display: none
  height: 0
  z-index: 1002
  top: 23px
  &:before
    content: ''
    position: absolute
    bottom: -1px
    left: 50%
    width: 0
    height: 0
    margin: 0 0 0 -8px
    border-width: 0 10px 13px 10px
    border-style: solid
    border-color: transparent transparent #d0bb62 transparent
  &:after
    content: ''
    position: absolute
    bottom: -1px
    left: 50%
    width: 0
    height: 0
    margin: 0 0 0 -8px
    border-width: 0 10px 13px 10px
    border-style: solid
    border-color: transparent transparent #d0bb62 transparent
    margin: 0 0 0 -7px
    border-width: 0 9px 12px 9px
    border-color: transparent transparent #FF99CC transparent
.navigation-bg
  margin-top: 1px

.navigation
  background-color: #E769A8
  height: 60px
  color: #FFFFFF
  font-family: 'Roboto',Helvetica,Arial,sans-serif
  font-weight: 300
  font-size: 18px
  text-decoration: none
  a
    color: #FFFFFF
    font-family: 'Roboto',Helvetica,Arial,sans-serif
    font-weight: 300
    font-size: 18px
    text-decoration: none

.list-f-line
  margin-left: 90px
  > li
    float: left
    padding-left: 15px
    padding-right: 15px

.navigation li
  &.str
    padding-top: 22px
  height: 60px
  line-height: 16px
  padding-top: 12px
  &:hover
    background-color: #FF99CC

.block100
  margin-right: auto
  margin-left: auto
  width: 100%
  min-width: 1096px
.mega-menu
  li
    height: 100%
li.dropdown.mega-dropdown.active
  min-width: 160px
/*mega-dropdown-menu */
.bg-gray
  background-color: #F4F4F4
  color: #222222
  border: 1px solid #E2E2E2
  border-top-color: rgb(226, 226, 226)
  border-top-style: solid
  border-top-width: 1px
  border-right-color: rgb(226, 226, 226)
  border-right-style: solid
  border-right-width: 1px
  border-bottom-color: rgb(226, 226, 226)
  border-bottom-style: solid
  border-bottom-width: 1px
  border-left-color: rgb(226, 226, 226)
  border-left-style: solid
  border-left-width: 1px
  border-image-source: initial
  border-image-slice: initial
  border-image-width: initial
  border-image-outset: initial
  border-image-repeat: initial
.main-header
  padding-top: 30px
  padding-bottom: 30px
  &.bg-gray
    border-bottom: 0
  .main-header-text
    padding-top: 30px
.row-block
  padding-bottom: 100px
  &.bg-gray
    border-top: 0
  &.row-block-left
    padding-top: 30px
    padding-bottom: 30px
  &.row-block-right
    padding-top: 30px
    padding-bottom: 30px
    .h3
      font-weight: 300!important
      line-height: 1.25
      margin-bottom: 0
  .inner
    padding-top: 30px
    padding-bottom: 30px
.row-block-action
  margin-top: 40px
.partners
  padding: 30px 0
  background-color: #F4F4F4
  color: #222222
  border: 1px solid #E2E2E2
  margin-right: auto
  margin-left: auto
  width: 100%
  .h2
    font-size: 22px
    line-height: normal
    font-weight: 350
    color: rgb(77, 76, 76)
.contact
  padding-top: 30px
  padding-bottom: 30px
  .h2
    font-size: 22px
    line-height: normal
    font-weight: 350
    color: rgb(77, 76, 76)
.clients
  box-shadow: none !important
  margin-bottom: 0 !important
  li
    overflow: hidden
    margin-left: 1px
    position: relative
    &:hover
      background: #f6f6f6
    img.color-img
      top: 0
      left: 0
      display: none
      position: absolute
    &:hover img.color-img
      display: block
    img
      filter: gray
      float: none !important
      margin: 0 auto !important
      &:hover
        filter: none
  border: 0
  overflow: hidden
  margin-top: 10px
  margin-bottom: 30px

.flexslider
  &.home
    border: 0
    overflow: hidden
    margin-top: 10px
    margin-bottom: 30px
  margin-top: 10px !important
  background: none !important
  .flex-direction-nav a
    margin-top: -10px !important

#map-contacts
  /* height: 388px */
  width: 100%

.contacts
  text-align: center
  margin: 20px 0 20px 0
  .item
    display: inline-block
    height: 47px
    font-size: 15px
    color: #333333
    text-align: left
    span
      display: block
      margin: 5px 0 0
      color: #555555
      font-weight: 300
    &.phone
      padding: 0 0 0 63px
      background: url('/img/contacts_phone.png') left center no-repeat
    &.email
      background: url('/img/contacts_email.png') 26px center no-repeat
      position: relative
      padding: 0 29px 0 95px
    &.address
      padding: 0 0 0 57px
      background: url('/img/contacts_home.png') left center no-repeat
footer
  position: relative
  background: #5a5a5a
  z-index: 1
  width: 100%
  min-height: 120px
  background: #5a5a5a
  min-width: 1096px
  margin-right: auto
  margin-left: auto
  .footer_group
    display: table
    padding-top: 45px
    margin: auto
    font-size: 0
    width: 100%
  ul, li
    margin: 0
    padding: 0
    list-style: none
  .footer_list
    display: table-cell
    vertical-align: top
    margin-left: 15px
    padding: 0 15px 0 7px
    min-width: 102px
    font-size: 12px
    white-space: normal
    &:first-child
      padding-left: 0
      padding-right: 0
      min-width: 80px
    li
      margin-bottom: 8px
      line-height: 15px
      &:first-child
        color: #ffffff
        font-size: 13px
        text-transform: uppercase
      span
        display: block
        &.phone, &.mail
          font-size: 14px
          font-weight: bold
          color: white
        &.phone a, &.mail a
          color: white
        &.color
          color: #c4c4c4
          font-size: 12px
          line-height: 1
      a
        color: #c4c4c4
        text-decoration: none
        &:hover
          color: #ffffff
          text-decoration: none
        &.title
          text-transform: uppercase
          color: #ffffff
          &:hover
            text-decoration: underline
      .order_call
        color: #00cc99
        font-size: 14px
@import "media" // Всегда в конце
