@import "fonts"
@import "libs"
@import "vars"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666
body input:required:valid,
body textarea:required:valid
  color: #666

html, body
  height: 100%
  font: normal 15px Arial, Helvetica, sans-serif
body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.75
  font-family: $default-font
  overflow-x: hidden
  opacity: 1

.img-responsive
  display: block
  max-width: 100%
  height: auto
.h1
  font-weight: 400!important
  text-transform: uppercase
  padding: 0
  font-size: 36px
  font: normal 36px 'Roboto',Helvetica,Arial,sans-serif
  margin: 0 0 22px 0
  line-height: 1.25
  color: #222222
  letter-spacing: -0.06ex
.h2
  line-height: 1.25
  color: #222222
  font-weight: 300
  letter-spacing: -0.06ex
  text-transform: uppercase
  padding: 0
  font-size: 36px
  font: normal 36px 'Roboto',Helvetica,Arial,sans-serif
  margin: 0 0 22px 0
.h3
  padding: 0
  margin: 0
  font-size: 30px
  letter-spacing: -0.027ex
  margin-bottom: 22px
  font-weight: normal;
  font: normal 30px 'Roboto',Helvetica,Arial,sans-serif
.h4
  font-size: 20px
  line-height: normal
  margin-top: 10px;
  margin-bottom: 10px;
a
  &:link, &:visited
    text-decoration: underline
    color: #4d4c4c
  &:hover
    text-decoration: none
    color: #4d4c4c

.clear
  clear: both

.left
  float: left

.right
  float: right


.b-button-rz
  background: #E769A8
  box-shadow: 0 3px 0 #FF3399

.b-button
  font-family: 'Roboto',Helvetica,Arial,sans-serif
  font-weight: 100
  width: 330px
  height: 64px
  text-align: center
  vertical-align: middle
  line-height: 64px
  font-size: 30px
  text-decoration: none
  color: #fff
  display: inline-block
  -moz-border-radius: 6px
  -webkit-border-radius: 6px
  border-radius: 6px
  -moz-transition: all 0.2s ease-out
  -o-transition: all 0.2s ease-out
  -webkit-transition: all 0.2s ease-out
  transition: all 0.2s ease-out
  font-weight: 100
  position: relative
a
  img
    border: none
  outline: none
  &.b-button
    color: #FFFFFF !important
    text-decoration: none !important
    padding-left: 30px !important
    padding-right: 30px !important
.b-button:hover
  background: #44d258
  color: #FFF
  text-decoration: none
.b-button-rz:hover
  background: #FF99CC
.b-button-green
  background: #39b54a
  box-shadow: 0 3px 0 #2b963a
  &:hover
    background: #44d258

.b-button-blue
  background: #2101FF
  box-shadow: 0 3px 0 #3300CC
  &:hover
    background: #6699FF
.g-phone
  font-size: 26px
  line-height: 28px
  white-space: nowrap
.roboto-thin
  font-family: 'roboto', sans-serif
  font-style: normal
  font-weight: 100

.roboto-bold, .bold-price
  font-family: 'roboto', sans-serif
  font-style: normal
  font-weight: 700

.roboto-light
  font-family: 'roboto', sans-serif
  font-style: normal
  font-weight: 300

.roboto-medium
  font-family: 'roboto', sans-serif
  font-style: normal
  font-weight: 500

.roboto-regular
  font-family: 'roboto', sans-serif
  font-style: normal
  font-weight: 400

.header
  background-color: $lightgreen
  color: $white
  height: 80px
  .logo
    float: left
    margin-top: 10px
    margin-right: 10px
  .logo-text
    font-size: 15px
    line-height: 16px
    margin-left: 95px
    padding-top: 17px
    text-transform: uppercase
    width: 240px
  .h-text-right
    float: right
  .p-button
    float: right
    margin-left: 20px
    margin-top: 19px
    text-align: right
  .form-btn.btn-red1
    font-size: 12px
    height: 25px
  .btn-red1
    background: #ec1f8f
    color: #FFFFFF
    border-radius: 4px
  .btn-red1:hover
    background: #CC0066
    color: #FFFFFF
  img
    height: 40px
.b-logo 
  width: 40%
.p-info
  padding-top: 18px
  float: left
.g-phone
  font-size: 26px
  line-height: 28px
  span.glyphicon
    font-size: 20px
.g-time
  font-size: .7em
.after-phone
  font-size: 13px
  margin-top: -5px
  letter-spacing: 3.6px
.time-link, .time-link:hover, .time-link:focus 
  color: #FFF
  text-decoration: none
  cursor: help
.p-info
  .g-time
    a
      i
        color: #ec1f8f
    .fancybox
      float: right
      color: #FFFFFF
      text-decoration: none
      font-weight: bolder
      font-size: .8em!important
      text-transform: uppercase
      font-weight: 100
.g-city
  span
    cursor: pointer
    border-bottom: 1px dashed #CCCCCC
    font-size: 18px
    font-family: 'roboto', sans-serif
    font-style: normal
    font-weight: 300
.uppercase
  text-transform: uppercase

/*mega-dropdown-menu */

.navigation .nav-list > li
  vertical-align: top
  opacity: 1
  width: 110px
  &:hover
    opacity: 0.6
  > a
    &:hover
      text-decoration: none
    >
      span
        font-size: 0.7em
        display: block
      img
        height: 32px

.mega-dropdown
  position: static !important

.mega-dropdown-menu
  padding: 20px 15px 15px
  text-align: center
  display: block
  background-color: #FF99CC
  margin-top: 12px
  width: 100%
  border-radius: 0

.mega-dropdown-menu-container
  border: 0
  margin: 0
  padding: 0
  width: 100%
  display: none

.mega-dropdown-tail
  position: relative
  display: none
  height: 0
  z-index: 1002
  top: 23px
  &:before
    content: ''
    position: absolute
    bottom: -1px
    left: 50%
    width: 0
    height: 0
    margin: 0 0 0 -8px
    border-width: 0 10px 13px 10px
    border-style: solid
    border-color: transparent transparent #d0bb62 transparent
  &:after
    content: ''
    position: absolute
    bottom: -1px
    left: 50%
    width: 0
    height: 0
    margin: 0 0 0 -8px
    border-width: 0 10px 13px 10px
    border-style: solid
    border-color: transparent transparent #d0bb62 transparent
    margin: 0 0 0 -7px
    border-width: 0 9px 12px 9px
    border-color: transparent transparent #FF99CC transparent
.navigation-bg
  margin-top: 1px

.navigation
  background-color: #E769A8
  height: 60px
  color: #FFFFFF
  font-family: 'Roboto',Helvetica,Arial,sans-serif
  font-weight: 300
  font-size: 18px
  text-decoration: none
  a
    color: #FFFFFF
    font-family: 'Roboto',Helvetica,Arial,sans-serif
    font-weight: 300
    font-size: 18px
    text-decoration: none

.list-f-line
  margin-left: 90px
  > li
    float: left
    padding-left: 15px
    padding-right: 15px

.navigation li
  &.str
    padding-top: 22px
  height: 60px
  line-height: 16px
  padding-top: 12px
  &:hover
    background-color: #FF99CC

.block100
  margin-right: auto
  margin-left: auto
  width: 100%
  min-width: 1096px
.mega-menu
  li
    height: 100%
li.dropdown.mega-dropdown.active
  min-width: 160px
/*mega-dropdown-menu */
.bg-gray
  background-color: #F4F4F4
  color: #222222
  border: 1px solid #E2E2E2
  border-top-color: rgb(226, 226, 226)
  border-top-style: solid
  border-top-width: 1px
  border-right-color: rgb(226, 226, 226)
  border-right-style: solid
  border-right-width: 1px
  border-bottom-color: rgb(226, 226, 226)
  border-bottom-style: solid
  border-bottom-width: 1px
  border-left-color: rgb(226, 226, 226)
  border-left-style: solid
  border-left-width: 1px
  border-image-source: initial
  border-image-slice: initial
  border-image-width: initial
  border-image-outset: initial
  border-image-repeat: initial
.main-header
  padding-top: 30px
  padding-bottom: 30px
  &.bg-gray
    border-bottom: 0
  .main-header-text
    padding-top: 30px
.row-block
  padding-bottom: 100px
  &.bg-gray
    border-top: 0
  &.row-block-left
    padding-top: 30px
    padding-bottom: 30px
  &.row-block-right
    padding-top: 30px
    padding-bottom: 30px
    .h3
      font-weight: 300!important
      line-height: 1.25
      margin-bottom: 0
  .inner
    padding-top: 30px
    padding-bottom: 30px
.row-block-action
  margin-top: 40px
.partners
  padding: 30px 0
  background-color: #F4F4F4
  color: #222222
  border: 1px solid #E2E2E2
  margin-right: auto
  margin-left: auto
  width: 100%
  .h2
    font-size: 22px
    line-height: normal
    font-weight: 350
    color: rgb(77, 76, 76)
.contact
  padding-top: 30px
  padding-bottom: 30px
  .h2
    font-size: 22px
    line-height: normal
    font-weight: 350
    color: rgb(77, 76, 76)
.clients
  box-shadow: none !important
  margin-bottom: 0 !important
  li
    overflow: hidden
    margin-left: 1px
    position: relative
    &:hover
      background: #f6f6f6
    img.color-img
      top: 0
      left: 0
      display: none
      position: absolute
    &:hover img.color-img
      display: block
    img
      filter: gray
      float: none !important
      margin: 0 auto !important
      &:hover
        filter: none
  border: 0
  overflow: hidden
  margin-top: 10px
  margin-bottom: 30px

.flexslider
  &.home
    border: 0
    overflow: hidden
    margin-top: 10px
    margin-bottom: 30px
  margin-top: 10px !important
  background: none !important
  .flex-direction-nav a
    margin-top: -10px !important

#map-contacts
  /* height: 388px */
  width: 100%

.contacts
  text-align: center
  margin: 20px 0 20px 0
  .item
    display: inline-block
    height: 47px
    font-size: 15px
    color: #333333
    text-align: left
    span
      display: block
      margin: 5px 0 0
      color: #555555
      font-weight: 300
    &.phone
      padding: 0 0 0 63px
      background: url('/img/contacts_phone.png') left center no-repeat
    &.email
      background: url('/img/contacts_email.png') 26px center no-repeat
      position: relative
      padding: 0 29px 0 95px
    &.address
      padding: 0 0 0 57px
      background: url('/img/contacts_home.png') left center no-repeat
footer
  position: relative
  background: #5a5a5a
  z-index: 1
  width: 100%
  min-height: 120px
  background: #5a5a5a
  margin-right: auto
  margin-left: auto
  .footer_group
    display: table
    padding-top: 45px
    margin: auto
    font-size: 0
    width: 100%
  ul, li
    margin: 0
    padding: 0
    list-style: none
  .footer_list
    display: table-cell
    vertical-align: top
    margin-left: 15px
    padding: 0 15px 0 7px
    min-width: 102px
    font-size: 12px
    white-space: normal
    &:first-child
      padding-left: 0
      padding-right: 0
      min-width: 80px
    li
      margin-bottom: 8px
      line-height: 15px
      &:first-child
        color: #ffffff
        font-size: 13px
        text-transform: uppercase
      span
        display: block
        &.phone, &.mail
          font-size: 14px
          font-weight: bold
          color: white
        &.phone a, &.mail a
          color: white
        &.color
          color: #c4c4c4
          font-size: 12px
          line-height: 1
      a
        color: #c4c4c4
        text-decoration: none
        &:hover
          color: #ffffff
          text-decoration: none
        &.title
          text-transform: uppercase
          color: #ffffff
          &:hover
            text-decoration: underline
      .order_call
        color: #00cc99
        font-size: 14px

#menu
  background-color: #F4F4F4
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before 
  background-color: #FFF
// modal form
.forma
  background-color: rgba(0, 184, 169, 0.8)
  font-family: "roboto",sans-serif
  .forma-header
    font-size: 18px
    display: block
    line-height: 21px
    margin-bottom: 15px
    text-align: center
    color: white
  .form-control
    border: 1px solid #00b8a9
    padding-left: 12px
    font-size: 17px
    height: 45px
  .help-block
    margin-top: 0
    color: white
  p.help-block
    padding: 0

#modal-callback .modal-title, .forma .modal-title
  text-align: center
  color: white
  margin: 0
  line-height: 1
  font-size: 49px
  font-weight: 100
  text-transform: none
  margin-bottom: 15px

.modal-subtitle
  font-size: 22px
  text-transform: lowercase
  font-weight: 100
  margin-top: 7px

.hr
  width: 388px
  height: 2px
  background: #FFF
  background: rgba(255, 255, 255, 0.39)
  margin: 18px auto -8px auto

.fupload-btn
  padding: 8px 18px
  font-size: 16px

.send-btn
  padding: 15px 18px
  font-size: 18px

#modal-callback .modal-body
  background: #09BBAC
  border-radius: 1px
  padding: 10px 10px 5px 10px
  border: 1px solid rgba(255, 255, 255, 0.2)
  width: 410px
  margin: 10px auto 10px auto
  position: relative

.forma .modal-body
  background: #09BBAC
  border-radius: 1px
  padding: 10px 10px 5px 10px
  border: 1px solid rgba(255, 255, 255, 0.2)
  width: 410px
  margin: 10px auto 10px auto
  position: relative
  &:before
    content: ""
    width: 0
    height: 0
    border-style: solid
    border-width: 0 13px 13px 13px
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0)
    position: absolute
    top: -12px
    left: 50%
    margin-left: -13px

#modal-callback .modal-body
  &:before
    content: ""
    width: 0
    height: 0
    border-style: solid
    border-width: 0 13px 13px 13px
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0)
    position: absolute
    top: -12px
    left: 50%
    margin-left: -13px
  &:after
    content: ""
    width: 0
    height: 0
    border-style: solid
    border-width: 0 14px 14px 14px
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #09BBAC rgba(0, 0, 0, 0)
    position: absolute
    top: -10px
    left: 50%
    margin-left: -14px

.forma
  .modal-body:after
    content: ""
    width: 0
    height: 0
    border-style: solid
    border-width: 0 14px 14px 14px
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #09BBAC rgba(0, 0, 0, 0)
    position: absolute
    top: -10px
    left: 50%
    margin-left: -14px
  .order-form
    width: 388px
    margin: 0 auto
    color: white
    padding-top: 0
    margin-left: 20px

#modal-callback .forma input[type=text]
  width: 342px
  margin-top: 0px

.forma
  input[type=text]
    width: 340px
    margin-top: 0px
  .order-form .btn-group
    margin-bottom: 8px
  .btn-group
    input[type=text]
      padding: 13px 10px 10px 10px
      &:focus
        padding: 12px 9px 9px 9px
    &.error input[type=text].has-error.error
      padding: 12px 9px 9px 9px

#modal-callback .forma .btni .btn
  width: 342px

.forma .btni
  .btn
    padding: 28px 0px 24px 0px
    width: 340px
    margin-top: 3px
    font-size: 20px
  padding-bottom: 13px

.hhforma .btni
  padding-bottom: 18px !important

.forma
  label
    font-size: 17px
    margin-bottom: 4px
  .btn-group input
    &.inline
      float: left
      width: 46px
      margin-left: 4px
    &.phone-country
      margin-left: 0px
    &.phone-code
      margin-left: 4px
      width: 75px
    &.phone-number
      width: 193px

.submit-form.btn-yellow
  padding: 36px 0px 29px 0px

.form-btn.btn-yellow
  width: 229px
  height: 51px
  font-size: 22px

.btn-yellow
  background: #fbe630
  color: #262202
  border-bottom: 3px solid #E2CF29
  border-radius: 4px
  &:hover
    background: #ffef65

.submit-form.btn-yellow
  &:active, &[disabled=disabled]
    width: 342px

.form-btn.btn-yellow
  &:active, &[disabled=disabled]
    width: 230px

.btn-yellow
  &:active, &[disabled=disabled]
    background: #ead72e
    border-bottom: none
    border-top: 3px solid #CCBD39
    border-left: 3px solid #CCBD39

#modal-callback .qq-uploader
  width: 90%

.forma
  .qq-uploader
    width: 90%
  &.forma-mini .qq-uploader
    width: 73%

#modal-callback .qq-upload-file, .forma .qq-upload-file
  color: #000000

#modal-callback
  .modal-header
    border: 0
  .modal-dialog
    width: 480px
  .close
    position: absolute
    font-size: 21px
    line-height: 1
    height: 26px
    width: 36px
    background: url(/img/sprite-modal.png) 6px 2px no-repeat
    border: none
    border-radius: 40px
    cursor: pointer
    vertical-align: top
    font-weight: normal
    font-family: serif
    right: -1px
    top: 2px

.close:hover
  background-position: -58px 2px

.modal-open
  overflow: hidden

.modal
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 1050
  display: none
  overflow: hidden
  -webkit-overflow-scrolling: touch
  outline: 0
  &.fade .modal-dialog
    -webkit-transition: -webkit-transform .3s ease-out
    -o-transition: -o-transform .3s ease-out
    transition: transform .3s ease-out
    -webkit-transform: translate3d(0, -25%, 0)
    -o-transform: translate3d(0, -25%, 0)
    transform: translate3d(0, -25%, 0)
  &.in .modal-dialog
    -webkit-transform: translate3d(0, 0, 0)
    -o-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

.modal-open .modal
  overflow-x: hidden
  overflow-y: auto

.modal-dialog
  position: relative
  width: auto
  margin: 10px

.modal-content
  position: relative
  background-color: #fff
  -webkit-background-clip: padding-box
  background-clip: padding-box
  border: 1px solid #999
  border: 1px solid rgba(0, 0, 0, 0.2)
  border-radius: 3px
  outline: 0
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5)
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5)
  background: #00B8A9

.modal-header
  min-height: 16.43px
  padding: 15px
  .close
    margin-top: -2px

.hhforma .modal-title
  margin: 0 0 30px

#modal-callback .modal-title
  margin: 0
  margin: 0 0 20px
  line-height: 1
  font-size: 49px
  font-weight: 100
  text-transform: none

.forma .modal-title
  margin: 0 0 20px
  line-height: 1
  font-size: 49px
  font-weight: 100
  text-transform: none

.modal-body
  position: relative
  padding: 15px
  padding-bottom: 20px
  &.mini
    padding-bottom: 5px

.modal-footer
  padding: 15px
  text-align: right
  border-top: 1px solid #e5e5e5
  .btn + .btn
    margin-bottom: 0
    margin-left: 5px
  .btn-group .btn + .btn
    margin-left: -1px
  .btn-block + .btn-block
    margin-left: 0

.modal-scrollbar-measure
  position: absolute
  top: -9999px
  width: 50px
  height: 50px
  overflow: scroll

@media (min-width: 768px)
  .modal-dialog
    width: 600px
    margin: 30px auto
  .modal-content
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
  .modal-sm
    width: 300px

@media (min-width: 992px)
  .modal-lg
    width: 900px

.modal:focus
  outline: none

.modal-subtitle
  font-size: 22px
  text-transform: lowercase
  font-weight: 100
  margin-top: 7px

.modal .hr
  width: 388px
  height: 2px
  background: #FFF
  background: rgba(255, 255, 255, 0.39)
  margin: 18px auto -8px auto

.btn-group
  &::-moz-placeholder
    color: #999
    opacity: 1
  &:-ms-input-placeholder, &::-webkit-input-placeholder
    color: #999
@import "media" // Всегда в конце
